.treec0{ margin-left: 0px}
.treec1{ margin-left: 10px;}
.treec2{ margin-left: 32px;}
.treec3{ margin-left: 54px; }
.treec4{ margin-left: 76px; }
.treec5{ margin-left: 98px; }
.treec6{ margin-left: 120px; }
.treec7{ margin-left: 142px; }
.treec8{ margin-left: 164px; }
